html, body {
    background-color: #1e1e1e;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.upperCase {
    text-transform: uppercase;
}

@font-face {
    font-family: Simp;
    src: local('Simplifica Regular'), local('Simplifica');
    src: url(fonts/simplifica.ttf) format('truetype');
}

.preloader {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    z-index: 1;
    position: relative;
    float: left;
    display: table;
    width: 10%;
    height: 100%;
    background-color: #46000E;
}

.column li {
    width:100%;
    text-decoration: none;
    font-family: Simp, "Times New Roman", serif;
    font-size: 24px;
    border-bottom: 1px solid #570000;
    list-style-type: none;

    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    /* ...and now for the proper property */
    transition:.3s;
}

.column a {
    color: white;
    text-decoration: none;
    display:block;
}

.column a:hover {
    background-color: #570000;
}

.column ul {
    display: table-cell;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    text-align: center;
    width:100%;
}

.column p {
    font-family: Simp, "Times New Roman", serif;
    font-size: 26px;
    padding-top: 10px;
    width: 100%;
    cursor: context-menu;
}

.second-column {
    display: flex;
    float: left;
    width:90%;
    min-height: 10%;
    background-color: #37000f;
    align-items: center;
    text-align: center;
    margin-bottom: 3%;
}

.second-column p{
    font-family: Simp, "Times New Roman", serif;
    font-size: 26px;
    margin: 0 auto;
    cursor: context-menu;
}

.main-section-container {
    display: flex;
    float: left;
    width:90%;
    text-align: center;
}

.script-panel {
    display: inline-block;
    background-color: #550005;
    margin: 0 auto;
    border-radius: 10px;
    width: 95%;
}

.script-panel table {
    font-family: "Helvetica Neue", "Times New Roman", serif;
    border-collapse: collapse;
    min-width: 100%;
    margin-bottom: 5%;
}

.script-panel th, td {
    border: 1px solid #29000f;
    text-align: center;
    padding: 5px 10px 5px 10px;
}

.script-panel tr:nth-child(even) {
    background-color: #46000e;
}

.script-panel p {
    font-family: Simp, "Times New Roman", serif;
    font-size: 26px;
    width: 100%;
    cursor: context-menu;
}


