html, body {
    background-color: #1e1e1e;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Simp, "Times New Roman", serif;
}
@font-face {
    font-family: Simp;
    src: local('Simplifica Regular'), local('Simplifica');
    src: url(../fonts/simplifica.ttf) format('truetype');
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 30%;
}

.removeDeco p {
    margin-top: 2%;
}

.removeDeco a{
    text-decoration: none;
    color: #ffffff;
    display: block;
}

button {
    text-align: center;
    margin-top: 10px;
    border: 1px solid #ff0001;
    border-radius: 20px;
    padding: 5px 5px;
    width: 10%;
    color: #ffffff;
    background-color: #46000E;
    cursor: pointer;
}

button:hover {
    background-color: #ff0001;
    border: 1px solid #46000E;
    border-radius: 20px;
}

button:focus {
    outline: 0;
    border: 1px solid #ffffff;
    border-radius: 20px;
}

.logo {
    text-align: center;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo img {
    display: inline-block;
}

.logo p {
    font-size: 26px;
}