html, body {
    background-color: #b5b5b5;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Simp, "Times New Roman", serif;
}
@font-face {
    font-family: Simp;
    src: local('Simplifica Regular'), local('Simplifica');
    src: url(../fonts/simplifica.ttf) format('truetype');
}

#NavBar .active {
    background-color: #373737;
    color: white;
}

#NavBar li a {
    display: block;
    color: #191919;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#NavBar li:hover {
    -webkit-animation: rightThenLeft 4s linear;
    background-color: #a5a5a5;
}

#NavBar li {
    float: left;
}

#NavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dcdcdc;
    border-bottom: 5px solid #373737;
}

.NavBarRightContainer {
    float: right;
}

#NavBarRight li {
    float: left;
}